<h1>你想對誰說幹話?</h1>

<div>
  <form method="POST" action="/">
    <div>
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg">
      <input type='radio' name="job" id="engineer" value="engineer">
      <label for="engineer">
        工程師
      </label>
    </div>

    <div>
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg">
      <input type='radio' name="job" id="designer" value="designer">
      <label for="designer">
        設計師
      </label>
    </div>

    <div>
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg">
      <input type='radio' name="job" id="entrepreneur" value="entrepreneur">
      <label for="entrepreneur">
        創業家
      </label>
    </div>

    <div>
      <button type="submit">產生幹話</button>

      {{#if expression}}
        <div>
          身為一個<span>{{expression}}</span>吧!
        </div>
      {{/if}}
    </div>
  </form>

  <footer>Z.R Huang :D</footer>


</div>