<h1>你想對誰說幹話?</h1>


<div>
  <form method="POST" action="/">
    <div>
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg">
      <input type='radio' name="engineer" id="engineer">
      <label for="engineer">
        工程師
      </label>
    </div>

    <div>
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg">
      <input type='radio' name="designer" id="designer">
      <label for="designer">
        設計師
      </label>
    </div>

    <div>
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg">
      <input type='radio' name="entrepreneur" id="entrepreneur">
      <label for="entrepreneur">
        創業家
      </label>
    </div>

    <button>產生幹話</button>

    <textarea placeholder="hahahha"></textarea>

  </form>


</div>