<h1 class="mx-auto" style="width: 300px;">你想對誰說幹話?</h1>


<form method="POST" action="/" class="container">
  <div class="d-inline-flex">
    <div class="form-group flex-grow-1 d-flex flex-row flex-wrap">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" class="w-100">
      <input type='radio' name="job" id="engineer" value="engineer" {{#if checkedItem.engineer}} checked {{/if}}>
      <label for="engineer">
        工程師
      </label>
    </div>

    <div class="form-group flex-grow-1 d-flex flex-row flex-wrap">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" class="w-100">
      <input type='radio' name="job" id="designer" value="designer" {{#if checkedItem.designer}} checked {{/if}}>
      <label for="designer">
        設計師
      </label>
    </div>

    <div class="form-group flex-grow-1 d-flex flex-row flex-wrap">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" class="w-100">
      <input type='radio' name="job" id="entrepreneur" value="entrepreneur" {{#if checkedItem.entrepreneur}} checked
        {{/if}}>
      <label for="entrepreneur">
        創業家
      </label>
    </div>
  </div>


  <div class="w-100 d-flex justify-content-between">
    <button type="submit">產生幹話</button>

    <textarea class="ml-3 flex-grow-1 text-left font-weight-bold">
    {{#if expression}}
      {{expression}}
    {{/if}}
    </textarea>
  </div>

  </div>


</form>